.reviewsPage {
  display: flex;
  flex-direction: row;
  position: relative; /* El padre debe ser relativo */

  .containerFormReviews {
    flex: 0 0 auto;
    width: 50%;
    margin: 1em;
  }

  .reviews {
    flex: 1;
    margin-left: 1em;

    .containerReview {
      padding: 10px;
      border-radius: 5px;
      margin: 10px 0;
      background-color: #f9f9f9;

      .reviewsHeader {
        display: flex;
        gap: 1em;

        p:nth-of-type(2) {
          color: #666; /* Un tono más oscuro que #999 */
          font-style: italic;
          font-size: 0.8em;
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.1em;
          gap: 0.5em;
        }
      }

      #textReview {
        font-style: italic;
      }
    }
  }
}
