.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    align-items: center;
  
    & ul {
      display: flex; 
      justify-content: center;
      align-items: center;
      gap: 1em;
      text-decoration: none;
      list-style: none;
  
      & li {
        display: flex;
        text-align: center;
        margin: auto;
        justify-content: center;
  
        &:hover {
          border: none;
        }
      }
    }
  

    .menuButton {
      display: none; 
      flex-direction: column; 
      background: none;
      border: none; 
      cursor: pointer; 
  
    }
  
    .bar {
      width: 25px; 
      height: 3px; 
      background-color: black;
      margin: 3px 0;
      transition: all 0.3s ease; 
    }
  
    @media (max-width: 768px) {
      & ul {
        display: none; 
        position: absolute; 
        top: 50px; 
        left: 0;
        right: 0;
        background-color: white; 
        z-index: 100; 
        width: 88%;

        & li {
          width: 100%;
        }
      }
  
      & ul.active {
        display: flex; 
        flex-direction: column;
      }
  
      .menuButton {
        display: flex; // Muestra el botón de menú hamburguesa en dispositivos móviles
      }
    }
  }
  