.sellCarSection {
  text-align: center;

  & > * {
    margin-bottom: 2em;
  }

  h2 {
    width: 75%;
    margin: auto;
  }

  .formTurn {
    width: 50%;
    margin: auto;

    label {
      margin: 0.5em 0;
    }
  }

  .errors {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin: 1em;
    p {
      font-size: 14px;
    }
  }

  .success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    margin: 1em;
    p {
      font-size: 14px;
    }
  }
}
