.container {
  padding: 1em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  padding: 2rem;

  .homeBtn {
    padding: 1rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
    list-style: none;

    &:hover,
    &:active {
      text-decoration:  none;
      color: inherit;
      list-style: none;
    }


  }
  
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../assets/image1.png");
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  padding: 1em 0 0 0;
}
