.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; 
  width: 90%; 
  max-width: 800px; 

  .selectedImage {
    position: relative; 

    img {
      border: 2px solid #e0e0e0;
      border-radius: 8px;
      margin: 0;
      display: block;
      width: 100%; 
      max-height: 400px; 
      object-fit: cover; 
    }

    .arrowButtonLeft,
    .arrowButtonRight {
      position: absolute;
      top: 50%;   
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      cursor: pointer;
      color: white;
      transition: color 0.2s;
      width: 40px; 
      height: 40px; 

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: grey;
      }

      &:disabled {
        color: #e0e0e0;
        cursor: not-allowed;
      }
    }

    .arrowButtonLeft {
      left: 10px; 
    }

    .arrowButtonRight {
      right: 10px; 
    }
  }

  .imageThumbnails {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap; 

    .thumbnail {
      width: 80px; 
      height: 60px;
      margin: 0 0.5em;
      border: 2px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      object-fit: cover;

      &:hover {
        border-color: #ccc;
      }

      &.active {
        border-color: black;
      }
    }
  }

  @media (min-width: 768px) {
    width: 75%; 

    .thumbnail {
      width: 100px; 
      height: 75px;
    }
  }
}
